.bash_history
.bash_login
.bash_logout
.bash_profile~
.bashrc
.bashrc~
.cache/
.compiz-1/
.config/
.dbus/
.dmrc
.drirc
.emacs~
.esd_auth
.fontconfig/
.fonts.conf
.fonts/
.gconf/
.gem/
.gitconfig
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.icedtea/
.ido.last
.irb-history
.libreoffice/
.local/
.macromedia/
.mission-control/
.mozilla/
.mysql_history
.profile
.profile~
.pulse-cookie
.pulse/
.purple/
.sqlite_history
.ssh/
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.viminfo
.viper
.viper~
.vnc/
.xsession-errors
.zlogin
.zshrc
Desktop/
Development/
Documents/
Downloads/
Install RVM and rails on Ubuntu 11.10.pdf
Pictures/
README.md~
Softwares/
Ubuntu One/
examples.desktop
yes
yes.pub
.ICEauthority
.Skype/
.Xauthority
.emacs.d/auto-save-list/
.emacs.d/auto-save-list/.
.rbx/
lists.apt
Packages
Packages.gz
o-rdoc/rails
pgadmin.log
pkgcache.apt
pkgcache.bin
skype-call-recorder
sources.list
sources.list.destdir
srcpkgcache.bin
apt.conf
ass_profile
echo
filelist.apt
key_bash
.subversion/
.todo
.vip
.zcompdump
Mail/
.goutputstream-SA26AW
.ido.last~
.pgadmin3
.pgpass
.psql_history
.emacs.d/auto-save-list/
*~
#*
.goutputstream-SA26AW
ruby-warrior/
.appdata/
.gksu.lock
.rpmdb/
.watchr
.wine/
Templates/
.emacs.desktop
.emacs.desktop.lock
.npm
.w3m
iKonverse.zip
iKonverse
node_modules
npm-debug.log
.compiz
.pki
.tracemodeler
.aspell.en.prepl
.aspell.en.prepl
.aspell.en.pws
.gemrc
.ggtkrc
.gtkrc
.pam_environment
.slime-history.eld
*#*#
.Spark/ 
.apport-ignore.xml 
.bundler/ 
.custom_bash_scripts/ 
.dude/ 
.eshell/ 
.gegl-0.0/ 
.gimp-2.6/ 
.install4j 
.lesshst 
.netrc 
.qws/ 
.remmina/ 
.rush/ 
.shotwell/ 
.zsh-update 
.zsh_history 
KRJzip320.zip 
KRJzip320/ 
dead.letter 
rought_site_map_onions.pdf 
rvm-installer.bash 
.Spark/
.apport-ignore.xml
.bundler/
.custom_bash_scripts/
.dude/
.eshell/
.gegl-0.0/
.gimp-2.6/
.install4j/
.lesshst/
.netrc/
.qws/
.remmina/
.rush/
.shotwell/
.zsh-update/
.zsh_history
.install4j
.lesshst
.zsh-update
KRJzip320.zip
KRJzip320/
.netrc
dead.letter
rought_site_map_onions.pdf
rvm-installer.bash
.slocdata
.recentf
hello.txt
html.zip
.#*
.nvpy/
.pip
